header{
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    text-align: center;
}


body{
    background-color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 100%;
}

h1 {
    border-radius: 10px;
    background-color: #3b2a09;
    color: #ffffff;
    text-align: left;
    margin-left: 40px;
    width: 60%;
    font-size: 1.5rem;
}

h2 {
    border-radius: 10px;
    background-color: #3b2a09;
    color: #ffffff;
    text-align: left;
    width: 60%;
    font-size: 1rem;
    
}


footer {
    background-color: #3b2a09;
    color: #ffffff;
    text-align: center;
    margin: 40px;
    width: 60%;
    font-family: 'Rubik', sans-serif;
}

#byui{
    color: #ffffff;
  } 


img {
max-width: 100%;
display: block;
}

.imagen{
    position: relative;
    top:-50px;
    left:50px;
    width: 15%;
    height: 15%;

}

.assigments{
    margin-left: 40px;
    position: relative;
    top:-150px;
}

.linkAssigment 
{
    color:#3b2a09;
    font-family: 'Rubik', sans-serif;
}



.fecha 
{
    color:#ddec06;

}

 /* unvisited link */
 a:link {
    color: #3b2a09;
  }
  
  /* visited link */
  a:visited {
    color: #3b2a09;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: blue;
  } 