header{
    background-color: #3b2a09;
    color: #ffffff;
    text-align: center;
    margin: 40px;
    font-size: 20px;
    width: 60%;
    text-align: center;
}
footer {
    background-color: #3b2a09;
    color: #ffffff;
    text-align: center;
    margin: 40px;
    width: 60%;
}


hr {
    width: 50%;
    text-align: center;
}
.imagen{
    position: relative;
    top:20px;
    right:-255px;
    width: 10%;
    height: 10%;
}

.linkAssigment 
{
    color:#3b2a09;

}



.fecha 
{
    color:#ddec06;

}

